TASK_TYPE=implementation
TASK_SCALE=small
DESIGN_CLARITY=clear
BOUNDARY_RISK=none
REPO_STATE=known
EVIDENCE_BURDEN=standard
DEPLOY_BOUNDARY=preview
DEPLOY_TARGET=auto
DEPLOY_VERIFIED=partial
DEPLOY_ROLLBACK=yes
DEPLOY_SECRETS=no
VERIFY_RISK=medium
VERIFY_SURFACE=backend
VERIFY_PROOF=
